What do we care about

* Making a daframe with all the days from various years categorized by regions 
* Collecting all the data for January and December 
* Collect the average for each month only for the Conus data
* Find means for both January and December data
* Plot the average per month over the period of time 
* Plot the average of each month over the period of time 
* If time permits do the pymc3

In [39]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import calendar 

%matplotlib inline

In [32]:
# List to store average mean heating days for every month
avgMonth = None
# next two variables are used to collect all January and December data
JanuaryData = None
DecemberData = None

In [33]:
# Let's look at the first year 
df = pd.read_csv("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
# Below I am changing the region column as the index instead of the standard 0, 1, ... n
df = df.set_index('Region')

In [4]:
df.head()

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19811222,19811223,19811224,19811225,19811226,19811227,19811228,19811229,19811230,19811231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,31,34,39,37,36,32,38,44
2,45,42,50,59,56,47,42,51,56,52,...,38,25,28,32,36,34,32,30,37,39
3,36,43,51,62,59,48,49,57,55,57,...,34,36,41,41,36,35,38,45,48,39
4,33,40,46,55,47,39,47,48,48,54,...,36,44,44,42,39,41,47,53,48,44
5,24,23,26,27,34,31,23,30,31,31,...,21,9,12,16,20,19,18,16,21,22

In [12]:
def first_year(data, jan=None, dec=None, average=None):
    if(jan is None):
        jan = []
    if(dec is None):
        dec = []
    if(average is None):
        average = []
    
    for k in jan_range:
        jan.append(data.iloc[9,k])
    for k in dec_rangeReg:
        dec.append(data.iloc[9,k])

    for j, k in zip(regYrStart, regYrEnd):
        z = data.iloc[9,j:k]
        average.append(z.mean())
        
    return(jan, dec, average)

In [13]:
from util import jan_range, dec_rangeReg, dec_rangeLeap, regYrStart, regYrEnd, leapYrStart, leapYrEnd

In [15]:
a, b, c = first_year(df, JanuaryData, DecemberData, avgMonth)

In [21]:
def comb_data(start, end, dataframe, month1=None, month2=None, average=None):
    """

    """
    
    jan, dec, avgMonth = first_year(dataframe, month1, month2, average)

    for i in range(start+1, end+1):
        y = pd.read_csv("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/{}/Population.Heating.txt".format(i), delimiter="|", skiprows=[0,1,2])
        y = y.set_index('Region')
        result = pd.concat([dataframe,y], axis=1)
        dataframe = result

        #avgInput
    return(dataframe, jan, dec, avgMonth)

In [24]:
d, e, f, g = comb_data(1981, 2017, df)

In [25]:
d

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,20171222,20171223,20171224,20171225,20171226,20171227,20171228,20171229,20171230,20171231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,32,34,43,53,59,59,57,59
2,45,42,50,59,56,47,42,51,56,52,...,31,25,30,33,43,49,54,53,50,55
3,36,43,51,62,59,48,49,57,55,57,...,29,32,41,47,58,62,60,54,54,60
4,33,40,46,55,47,39,47,48,48,54,...,39,45,47,55,61,64,57,54,62,68
5,24,23,26,27,34,31,23,30,31,31,...,12,7,12,20,21,22,27,26,24,29
6,24,29,28,30,42,36,32,39,35,37,...,9,9,22,33,31,35,37,33,32,39
7,14,17,17,18,22,18,19,20,18,18,...,9,19,19,24,23,28,28,23,19,27
8,22,22,23,23,24,26,26,28,28,27,...,36,33,34,30,32,29,26,24,27,30
9,14,16,14,15,14,15,17,18,17,16,...,23,20,18,17,17,15,13,11,12,15
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,22,26,30,34,37,38,35,34,40

In [26]:
e

[28,
 29,
 33,
 37,
 38,
 33,
 31,
 36,
 37,
 36,
 39,
 41,
 38,
 33,
 30,
 32,
 34,
 33,
 28,
 26,
 26,
 27,
 25,
 25,
 24,
 22,
 22,
 25,
 28,
 31,
 33]

In [27]:
f

[23,
 20,
 21,
 22,
 24,
 24,
 21,
 19,
 24,
 28,
 28,
 27,
 27,
 27,
 27,
 28,
 30,
 33,
 37,
 37,
 32,
 26,
 24,
 27,
 28,
 28,
 26,
 27,
 28,
 31,
 29]

In [28]:
g

[30.967741935483872,
 24.035714285714285,
 19.193548387096776,
 8.233333333333333,
 5.032258064516129,
 0.7333333333333333,
 0.0967741935483871,
 0.12903225806451613,
 2.466666666666667,
 10.32258064516129,
 16.4,
 26.870967741935484]

In [30]:
def avgInput(year, dataframe, month, month2, average):
    """

    """

    if(calendar.isleap(year)):
        for j, k in zip(leapYrStart, leapYrEnd):
            z = dataframe.iloc[9,j:k]
            average.append(z.mean())
        for k in jan_range:
            month.append(dataframe.iloc[9,k])
        for k in dec_rangeLeap:
            month2.append(dataframe.iloc[9,k])
    else:
        for j, k in zip(regYrStart, regYrEnd):
            z = dataframe.iloc[9,j:k]
            average.append(z.mean())
        for k in jan_range:
            month.append(dataframe.iloc[9,k])
        for k in dec_rangeReg:
            month2.append(dataframe.iloc[9,k])
            
    return(month, month2, average)

In [34]:
def comb_data(start, end, dataframe, month1=None, month2=None, average=None):
    """

    """
    
    jan, dec, avgMonth = first_year(dataframe, month1, month2, average)

    for i in range(start+1, end+1):
        y = pd.read_csv("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/{}/Population.Heating.txt".format(i), delimiter="|", skiprows=[0,1,2])
        y = y.set_index('Region')
        result = pd.concat([dataframe,y], axis=1)
        dataframe = result

        avgInput(i, y, jan, dec, avgMonth)
    return(dataframe, np.asarray(jan), np.asarray(dec), np.asarray(avgMonth))

In [40]:
result, JanuaryData, DecemberData, avgMonth = comb_data(1981, 2017, df)

In [41]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,20171222,20171223,20171224,20171225,20171226,20171227,20171228,20171229,20171230,20171231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,32,34,43,53,59,59,57,59
2,45,42,50,59,56,47,42,51,56,52,...,31,25,30,33,43,49,54,53,50,55
3,36,43,51,62,59,48,49,57,55,57,...,29,32,41,47,58,62,60,54,54,60
4,33,40,46,55,47,39,47,48,48,54,...,39,45,47,55,61,64,57,54,62,68
5,24,23,26,27,34,31,23,30,31,31,...,12,7,12,20,21,22,27,26,24,29
6,24,29,28,30,42,36,32,39,35,37,...,9,9,22,33,31,35,37,33,32,39
7,14,17,17,18,22,18,19,20,18,18,...,9,19,19,24,23,28,28,23,19,27
8,22,22,23,23,24,26,26,28,28,27,...,36,33,34,30,32,29,26,24,27,30
9,14,16,14,15,14,15,17,18,17,16,...,23,20,18,17,17,15,13,11,12,15
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,22,26,30,34,37,38,35,34,40

In [44]:
list(JanuaryData)[-1]

24

In [45]:
print(JanuaryData.mean())

28.312118570183085