In [1]:
import pandas as pd
import numpy as np

In [2]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')

In [3]:
x.head()

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19811222,19811223,19811224,19811225,19811226,19811227,19811228,19811229,19811230,19811231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,31,34,39,37,36,32,38,44
2,45,42,50,59,56,47,42,51,56,52,...,38,25,28,32,36,34,32,30,37,39
3,36,43,51,62,59,48,49,57,55,57,...,34,36,41,41,36,35,38,45,48,39
4,33,40,46,55,47,39,47,48,48,54,...,36,44,44,42,39,41,47,53,48,44
5,24,23,26,27,34,31,23,30,31,31,...,21,9,12,16,20,19,18,16,21,22

In [4]:
i = 1982
leapYears = []
while(i < 2018):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    if(len(y.columns) > 365):
        leapYears.append(i)
    result = pd.concat([x,y], axis=1)
    x = result
    i += 1

In [5]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,20171222,20171223,20171224,20171225,20171226,20171227,20171228,20171229,20171230,20171231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,32,34,43,53,59,59,57,59
2,45,42,50,59,56,47,42,51,56,52,...,31,25,30,33,43,49,54,53,50,55
3,36,43,51,62,59,48,49,57,55,57,...,29,32,41,47,58,62,60,54,54,60
4,33,40,46,55,47,39,47,48,48,54,...,39,45,47,55,61,64,57,54,62,68
5,24,23,26,27,34,31,23,30,31,31,...,12,7,12,20,21,22,27,26,24,29
6,24,29,28,30,42,36,32,39,35,37,...,9,9,22,33,31,35,37,33,32,39
7,14,17,17,18,22,18,19,20,18,18,...,9,19,19,24,23,28,28,23,19,27
8,22,22,23,23,24,26,26,28,28,27,...,36,33,34,30,32,29,26,24,27,30
9,14,16,14,15,14,15,17,18,17,16,...,23,20,18,17,17,15,13,11,12,15
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,22,26,30,34,37,38,35,34,40

In [6]:
result.isnull().sum()

19810101    0
19810102    0
19810103    0
19810104    0
19810105    0
19810106    0
19810107    0
19810108    0
19810109    0
19810110    0
19810111    0
19810112    0
19810113    0
19810114    0
19810115    0
19810116    0
19810117    0
19810118    0
19810119    0
19810120    0
19810121    0
19810122    0
19810123    0
19810124    0
19810125    0
19810126    0
19810127    0
19810128    0
19810129    0
19810130    0
           ..
20171202    0
20171203    0
20171204    0
20171205    0
20171206    0
20171207    0
20171208    0
20171209    0
20171210    0
20171211    0
20171212    0
20171213    0
20171214    0
20171215    0
20171216    0
20171217    0
20171218    0
20171219    0
20171220    0
20171221    0
20171222    0
20171223    0
20171224    0
20171225    0
20171226    0
20171227    0
20171228    0
20171229    0
20171230    0
20171231    0
Length: 13514, dtype: int64

In [7]:
leapYears

[1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [20]:
month1 = result.iloc[9,0:31]

In [22]:
month1

19810101    28
19810102    29
19810103    33
19810104    37
19810105    38
19810106    33
19810107    31
19810108    36
19810109    37
19810110    36
19810111    39
19810112    41
19810113    38
19810114    33
19810115    30
19810116    32
19810117    34
19810118    33
19810119    28
19810120    26
19810121    26
19810122    27
19810123    25
19810124    25
19810125    24
19810126    22
19810127    22
19810128    25
19810129    28
19810130    31
19810131    33
Name: CONUS, dtype: int64

In [23]:
print(month1.mean())

30.967741935483872

In [35]:
month2 = result.iloc[9,31:59]

In [36]:
month2

19810201    30
19810202    30
19810203    37
19810204    39
19810205    38
19810206    33
19810207    29
19810208    28
19810209    31
19810210    30
19810211    29
19810212    36
19810213    34
19810214    27
19810215    22
19810216    17
19810217    13
19810218    11
19810219    11
19810220    12
19810221    14
19810222    15
19810223    16
19810224    18
19810225    19
19810226    19
19810227    18
19810228    17
Name: CONUS, dtype: int64

In [30]:
print(month2.mean())

23.814814814814813

In [33]:
month3 = result.iloc[9,59:91]

In [34]:
print(month3)

19810301    17
19810302    21
19810303    24
19810304    23
19810305    22
19810306    24
19810307    24
19810308    23
19810309    21
19810310    20
19810311    20
19810312    20
19810313    18
19810314    21
19810315    19
19810316    18
19810317    22
19810318    23
19810319    25
19810320    26
19810321    22
19810322    19
19810323    20
19810324    19
19810325    17
19810326    16
19810327    13
19810328    13
19810329     9
19810330     8
19810331     8
19810401     8
Name: CONUS, dtype: int64

# Now we are going to add a new layer to the while loop

In [53]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')

In [8]:
i = 1982
avgMonth = []
regYrStart = [0,31,59,90,120,151,181,212,243,273,304,334]
regYrEnd = [31,59,90,120,151,181,212,243,273,304,334,365]
leapYrStart = [0,31,60,91,121,152,182,213,244,274,305,335]
leapYrEnd = [31,60,91,121,152,182,213,244,274,304,334,365]

In [11]:
i = 1982
leapYears = [1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]
avgMonth = []
regYrStart = [0,31,59,90,120,151,181,212,243,273,304,334]
regYrEnd = [31,59,90,120,151,181,212,243,273,304,334,365]
leapYrStart = [0,31,60,91,121,152,182,213,244,274,305,335]
leapYrEnd = [31,60,91,121,152,182,213,244,274,304,334,365]
while(i < 1984):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    if(i in leapYears):
        for j, k in zip(leapYrStart, leapYrEnd):
            z = y.iloc[9,j:k]
            avgMonth.append(z.mean()) 
    else:
        for j, k in zip(regYrStart, regYrEnd):
            z = y.iloc[9,j:k]
            avgMonth.append(z.mean())                       
    result = pd.concat([x,y], axis=1)
    x = result
    i += 1

In [12]:
print(avgMonth)

[33.70967741935484, 26.821428571428573, 19.451612903225808, 13.333333333333334, 3.2580645161290325, 1.6666666666666667, 0.16129032258064516, 0.4838709677419355, 2.6, 8.548387096774194, 17.166666666666668, 22.193548387096776, 27.774193548387096, 24.571428571428573, 18.35483870967742, 13.8, 5.741935483870968, 1.2333333333333334, 0.12903225806451613, 0.0967741935483871, 2.433333333333333, 7.645161290322581, 16.8, 31.548387096774192]

In [13]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19831222,19831223,19831224,19831225,19831226,19831227,19831228,19831229,19831230,19831231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,42,36,48,60,58,52,44,31,44,48
2,45,42,50,59,56,47,42,51,56,52,...,36,38,50,61,59,51,39,34,47,49
3,36,43,51,62,59,48,49,57,55,57,...,49,65,72,72,66,54,47,56,63,56
4,33,40,46,55,47,39,47,48,48,54,...,72,77,78,72,61,53,55,65,61,49
5,24,23,26,27,34,31,23,30,31,31,...,19,20,29,45,46,35,22,20,32,37
6,24,29,28,30,42,36,32,39,35,37,...,27,40,50,59,55,44,30,38,51,48
7,14,17,17,18,22,18,19,20,18,18,...,41,45,47,51,46,36,31,40,43,36
8,22,22,23,23,24,26,26,28,28,27,...,44,42,43,38,32,30,39,43,36,29
9,14,16,14,15,14,15,17,18,17,16,...,27,27,24,18,16,17,20,19,16,14
CONUS,28,29,33,37,38,33,31,36,37,36,...,37,41,46,51,47,39,34,36,42,39

# Ignore above

In [76]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')

In [77]:
i = 1982
leapYears = []
while(i < 2018):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    if(len(y.columns) > 365):
        leapYears.append(i)
    result = pd.concat([x,y], axis=1)
    x = result
    i += 1

In [78]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,20171222,20171223,20171224,20171225,20171226,20171227,20171228,20171229,20171230,20171231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,32,34,43,53,59,59,57,59
2,45,42,50,59,56,47,42,51,56,52,...,31,25,30,33,43,49,54,53,50,55
3,36,43,51,62,59,48,49,57,55,57,...,29,32,41,47,58,62,60,54,54,60
4,33,40,46,55,47,39,47,48,48,54,...,39,45,47,55,61,64,57,54,62,68
5,24,23,26,27,34,31,23,30,31,31,...,12,7,12,20,21,22,27,26,24,29
6,24,29,28,30,42,36,32,39,35,37,...,9,9,22,33,31,35,37,33,32,39
7,14,17,17,18,22,18,19,20,18,18,...,9,19,19,24,23,28,28,23,19,27
8,22,22,23,23,24,26,26,28,28,27,...,36,33,34,30,32,29,26,24,27,30
9,14,16,14,15,14,15,17,18,17,16,...,23,20,18,17,17,15,13,11,12,15
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,22,26,30,34,37,38,35,34,40

In [79]:
list = [1,2,3]
print(3*list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [80]:
avgMonth = []
regYrStart = [0,31,59,90,120,151,181,212,243,273,304,334]
regYrEnd = [31,59,90,120,151,181,212,243,273,304,334,365]
leapYrStart = [0,31,60,91,121,152,182,213,244,274,305,335]
leapYrEnd = [31,60,91,121,152,182,213,244,274,304,334,365]

In [82]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')