In [1]:
import pandas as pd
import numpy as np

In [2]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')

In [3]:
x.head()

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19811222,19811223,19811224,19811225,19811226,19811227,19811228,19811229,19811230,19811231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,31,34,39,37,36,32,38,44
2,45,42,50,59,56,47,42,51,56,52,...,38,25,28,32,36,34,32,30,37,39
3,36,43,51,62,59,48,49,57,55,57,...,34,36,41,41,36,35,38,45,48,39
4,33,40,46,55,47,39,47,48,48,54,...,36,44,44,42,39,41,47,53,48,44
5,24,23,26,27,34,31,23,30,31,31,...,21,9,12,16,20,19,18,16,21,22

In [4]:
i = 1982
leapYears = []
while(i < 2018):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    if(len(y.columns) > 365):
        leapYears.append(i)
    result = pd.concat([x,y], axis=1)
    x = result
    i += 1

In [5]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,20171222,20171223,20171224,20171225,20171226,20171227,20171228,20171229,20171230,20171231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,32,34,43,53,59,59,57,59
2,45,42,50,59,56,47,42,51,56,52,...,31,25,30,33,43,49,54,53,50,55
3,36,43,51,62,59,48,49,57,55,57,...,29,32,41,47,58,62,60,54,54,60
4,33,40,46,55,47,39,47,48,48,54,...,39,45,47,55,61,64,57,54,62,68
5,24,23,26,27,34,31,23,30,31,31,...,12,7,12,20,21,22,27,26,24,29
6,24,29,28,30,42,36,32,39,35,37,...,9,9,22,33,31,35,37,33,32,39
7,14,17,17,18,22,18,19,20,18,18,...,9,19,19,24,23,28,28,23,19,27
8,22,22,23,23,24,26,26,28,28,27,...,36,33,34,30,32,29,26,24,27,30
9,14,16,14,15,14,15,17,18,17,16,...,23,20,18,17,17,15,13,11,12,15
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,22,26,30,34,37,38,35,34,40

In [6]:
result.isnull().sum()

19810101    0
19810102    0
19810103    0
19810104    0
19810105    0
19810106    0
19810107    0
19810108    0
19810109    0
19810110    0
19810111    0
19810112    0
19810113    0
19810114    0
19810115    0
19810116    0
19810117    0
19810118    0
19810119    0
19810120    0
19810121    0
19810122    0
19810123    0
19810124    0
19810125    0
19810126    0
19810127    0
19810128    0
19810129    0
19810130    0
           ..
20171202    0
20171203    0
20171204    0
20171205    0
20171206    0
20171207    0
20171208    0
20171209    0
20171210    0
20171211    0
20171212    0
20171213    0
20171214    0
20171215    0
20171216    0
20171217    0
20171218    0
20171219    0
20171220    0
20171221    0
20171222    0
20171223    0
20171224    0
20171225    0
20171226    0
20171227    0
20171228    0
20171229    0
20171230    0
20171231    0
Length: 13514, dtype: int64

In [7]:
leapYears

[1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [20]:
month1 = result.iloc[9,0:31]

In [22]:
month1

19810101    28
19810102    29
19810103    33
19810104    37
19810105    38
19810106    33
19810107    31
19810108    36
19810109    37
19810110    36
19810111    39
19810112    41
19810113    38
19810114    33
19810115    30
19810116    32
19810117    34
19810118    33
19810119    28
19810120    26
19810121    26
19810122    27
19810123    25
19810124    25
19810125    24
19810126    22
19810127    22
19810128    25
19810129    28
19810130    31
19810131    33
Name: CONUS, dtype: int64

In [23]:
print(month1.mean())

30.967741935483872

In [35]:
month2 = result.iloc[9,31:59]

In [36]:
month2

19810201    30
19810202    30
19810203    37
19810204    39
19810205    38
19810206    33
19810207    29
19810208    28
19810209    31
19810210    30
19810211    29
19810212    36
19810213    34
19810214    27
19810215    22
19810216    17
19810217    13
19810218    11
19810219    11
19810220    12
19810221    14
19810222    15
19810223    16
19810224    18
19810225    19
19810226    19
19810227    18
19810228    17
Name: CONUS, dtype: int64

In [30]:
print(month2.mean())

23.814814814814813

In [12]:
month3 = result.iloc[9,59:91]

In [13]:
print(month3.mean())

18.84375

# Now we are going to add a new layer to the while loop

In [1]:
import pandas as pd
import numpy as np

In [2]:
i = 1982
avgMonth = []
regYrStart = [0,31,59,90,120,151,181,212,243,273,304,334]
regYrEnd = [31,59,90,120,151,181,212,243,273,304,334,365]
leapYrStart = [0,31,60,91,121,152,182,213,244,274,305,335]
leapYrEnd = [31,60,91,121,152,182,213,244,274,304,334,365]

In [3]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')

In [4]:
for j, k in zip(regYrStart, regYrEnd):
            z = x.iloc[9,j:k]
            avgMonth.append(z.mean())

In [5]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')

In [6]:
leapYears = [1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]
while(i < 2018):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    result = pd.concat([x,y], axis=1)
    x = result
    if(i in leapYears):
        for j, k in zip(leapYrStart, leapYrEnd):
            z = y.iloc[9,j:k]
            avgMonth.append(z.mean()) 
    else:
        for j, k in zip(regYrStart, regYrEnd):
            z = y.iloc[9,j:k]
            avgMonth.append(z.mean())
    i += 1

In [7]:
print(avgMonth)

[30.967741935483872, 24.035714285714285, 19.193548387096776, 8.233333333333333, 5.032258064516129, 0.7333333333333333, 0.0967741935483871, 0.12903225806451613, 2.466666666666667, 10.32258064516129, 16.4, 26.870967741935484, 33.70967741935484, 26.821428571428573, 19.451612903225808, 13.333333333333334, 3.2580645161290325, 1.6666666666666667, 0.16129032258064516, 0.4838709677419355, 2.6, 8.548387096774194, 17.166666666666668, 22.193548387096776, 27.774193548387096, 24.571428571428573, 18.35483870967742, 13.8, 5.741935483870968, 1.2333333333333334, 0.12903225806451613, 0.0967741935483871, 2.433333333333333, 7.645161290322581, 16.8, 31.548387096774192, 31.580645161290324, 22.689655172413794, 21.741935483870968, 12.1, 5.258064516129032, 0.8, 0.0967741935483871, 0.0967741935483871, 3.3, 6.833333333333333, 18.517241379310345, 22.333333333333332, 33.645161290322584, 28.214285714285715, 17.258064516129032, 8.566666666666666, 3.3870967741935485, 1.4, 0.0, 0.16129032258064516, 2.8666666666666667, 7.419354838709677, 16.733333333333334, 30.322580645161292, 27.06451612903226, 25.25, 16.870967741935484, 9.533333333333333, 3.806451612903226, 0.7666666666666667, 0.12903225806451613, 0.5806451612903226, 2.533333333333333, 8.225806451612904, 18.333333333333332, 25.29032258064516, 29.29032258064516, 24.892857142857142, 17.967741935483872, 10.233333333333333, 3.4516129032258065, 0.4666666666666667, 0.0967741935483871, 0.3870967741935484, 1.7, 10.483870967741936, 16.266666666666666, 24.677419354838708, 31.93548387096774, 27.17241379310345, 18.677419354838708, 10.966666666666667, 4.129032258064516, 1.3, 0.0967741935483871, 0.1935483870967742, 2.1666666666666665, 10.533333333333333, 16.413793103448278, 26.366666666666667, 24.93548387096774, 29.214285714285715, 18.806451612903224, 11.266666666666667, 5.193548387096774, 0.8, 0.0, 0.25806451612903225, 2.6, 8.064516129032258, 17.7, 33.903225806451616, 22.870967741935484, 22.857142857142858, 16.64516129032258, 10.566666666666666, 5.354838709677419, 0.8666666666666667, 0.0967741935483871, 0.0967741935483871, 2.0, 7.903225806451613, 15.1, 25.451612903225808, 29.225806451612904, 22.107142857142858, 17.774193548387096, 9.4, 3.5161290322580645, 0.8666666666666667, 0.0, 0.0, 2.933333333333333, 7.806451612903226, 19.333333333333332, 23.93548387096774, 27.032258064516128, 22.20689655172414, 18.548387096774192, 11.066666666666666, 4.548387096774194, 1.2666666666666666, 0.2903225806451613, 0.4838709677419355, 2.466666666666667, 8.966666666666667, 18.379310344827587, 26.466666666666665, 27.161290322580644, 28.785714285714285, 20.612903225806452, 11.766666666666667, 3.5161290322580645, 1.5, 0.0, 0.16129032258064516, 3.066666666666667, 9.483870967741936, 19.366666666666667, 26.29032258064516, 32.41935483870968, 28.428571428571427, 18.483870967741936, 9.7, 5.354838709677419, 0.6666666666666666, 0.0, 0.3870967741935484, 1.9333333333333333, 8.387096774193548, 16.0, 23.193548387096776, 26.870967741935484, 26.035714285714285, 17.387096774193548, 12.233333333333333, 5.32258064516129, 1.0333333333333334, 0.0967741935483871, 0.03225806451612903, 2.7, 7.225806451612903, 19.6, 27.774193548387096, 29.93548387096774, 26.137931034482758, 22.387096774193548, 11.7, 5.387096774193548, 0.8333333333333334, 0.06451612903225806, 0.0, 2.5, 8.5, 20.551724137931036, 24.4, 29.548387096774192, 23.678571428571427, 17.0, 13.233333333333333, 5.870967741935484, 1.0, 0.0967741935483871, 0.22580645161290322, 1.9, 9.161290322580646, 19.566666666666666, 25.93548387096774, 24.096774193548388, 21.821428571428573, 19.032258064516128, 10.8, 3.2903225806451615, 1.5333333333333334, 0.0, 0.06451612903225806, 1.1, 7.419354838709677, 15.8, 23.161290322580644, 26.967741935483872, 22.5, 20.06451612903226, 10.533333333333333, 3.935483870967742, 1.0, 0.03225806451612903, 0.06451612903225806, 2.033333333333333, 8.419354838709678, 13.333333333333334, 24.29032258064516, 27.70967741935484, 22.103448275862068, 15.32258064516129, 10.666666666666666, 3.4193548387096775, 1.0, 0.12903225806451613, 0.16129032258064516, 2.8333333333333335, 7.566666666666666, 20.275862068965516, 31.633333333333333, 29.741935483870968, 25.285714285714285, 20.838709677419356, 10.133333333333333, 3.2580645161290325, 1.0333333333333334, 0.12903225806451613, 0.0, 2.3666666666666667, 8.193548387096774, 13.166666666666666, 22.483870967741936, 25.225806451612904, 23.75, 20.129032258064516, 9.833333333333334, 5.967741935483871, 1.2333333333333334, 0.0, 0.03225806451612903, 1.3333333333333333, 9.870967741935484, 18.666666666666668, 26.096774193548388, 30.193548387096776, 28.464285714285715, 18.129032258064516, 11.466666666666667, 4.838709677419355, 1.3333333333333333, 0.0, 0.03225806451612903, 1.8, 8.0, 16.1, 25.387096774193548, 30.838709677419356, 27.344827586206897, 15.35483870967742, 10.233333333333333, 3.3870967741935485, 1.0666666666666667, 0.0967741935483871, 0.45161290322580644, 1.4333333333333333, 7.9, 16.137931034482758, 28.9, 27.612903225806452, 24.0, 20.677419354838708, 10.133333333333333, 5.806451612903226, 0.8333333333333334, 0.0, 0.0, 1.0333333333333334, 7.935483870967742, 15.8, 28.0, 21.64516129032258, 25.535714285714285, 19.06451612903226, 8.966666666666667, 4.645161290322581, 0.6333333333333333, 0.0, 0.12903225806451613, 2.533333333333333, 9.709677419354838, 15.533333333333333, 21.903225806451612, 26.741935483870968, 29.785714285714285, 15.67741935483871, 12.4, 3.3225806451612905, 0.7, 0.06451612903225806, 0.16129032258064516, 1.7, 5.967741935483871, 17.166666666666668, 25.258064516129032, 28.258064516129032, 26.03448275862069, 19.225806451612904, 10.533333333333333, 5.548387096774194, 0.7333333333333333, 0.0, 0.1935483870967742, 1.6666666666666667, 8.966666666666667, 17.655172413793103, 26.066666666666666, 30.258064516129032, 24.714285714285715, 18.387096774193548, 11.266666666666667, 3.774193548387097, 1.2333333333333334, 0.25806451612903225, 0.25806451612903225, 1.6666666666666667, 10.548387096774194, 14.7, 27.870967741935484, 29.677419354838708, 28.678571428571427, 17.322580645161292, 8.766666666666667, 4.548387096774194, 0.8666666666666667, 0.06451612903225806, 0.16129032258064516, 1.7, 7.419354838709677, 17.266666666666666, 28.741935483870968, 30.548387096774192, 26.107142857142858, 18.322580645161292, 10.133333333333333, 5.193548387096774, 1.1, 0.0, 0.0, 1.8666666666666667, 8.161290322580646, 15.533333333333333, 22.774193548387096, 23.903225806451612, 22.413793103448278, 11.806451612903226, 9.7, 2.774193548387097, 1.0666666666666667, 0.0, 0.03225806451612903, 2.1666666666666665, 8.266666666666667, 17.655172413793103, 21.9, 26.35483870967742, 26.035714285714285, 20.870967741935484, 11.433333333333334, 4.419354838709677, 0.7666666666666667, 0.0967741935483871, 0.06451612903225806, 2.1333333333333333, 8.290322580645162, 18.833333333333332, 26.387096774193548, 30.870967741935484, 28.535714285714285, 21.580645161290324, 10.8, 4.0, 0.6666666666666666, 0.0967741935483871, 0.06451612903225806, 1.9333333333333333, 6.838709677419355, 20.2, 22.548387096774192, 28.387096774193548, 31.035714285714285, 18.516129032258064, 9.666666666666666, 3.4838709677419355, 0.5666666666666667, 0.03225806451612903, 0.12903225806451613, 1.0333333333333334, 7.064516129032258, 14.6, 18.451612903225808, 27.967741935483872, 22.275862068965516, 14.225806451612904, 10.133333333333333, 4.838709677419355, 0.5, 0.0, 0.0, 0.6666666666666666, 4.866666666666666, 13.758620689655173, 25.033333333333335, 24.580645161290324, 19.214285714285715, 17.548387096774192, 8.0, 4.870967741935484, 0.8333333333333334, 0.0, 0.1935483870967742, 1.7, 6.419354838709677, 16.033333333333335, 25.870967741935484]

In [8]:
print(len(avgMonth))

444

In [9]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,20171222,20171223,20171224,20171225,20171226,20171227,20171228,20171229,20171230,20171231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,32,34,43,53,59,59,57,59
2,45,42,50,59,56,47,42,51,56,52,...,31,25,30,33,43,49,54,53,50,55
3,36,43,51,62,59,48,49,57,55,57,...,29,32,41,47,58,62,60,54,54,60
4,33,40,46,55,47,39,47,48,48,54,...,39,45,47,55,61,64,57,54,62,68
5,24,23,26,27,34,31,23,30,31,31,...,12,7,12,20,21,22,27,26,24,29
6,24,29,28,30,42,36,32,39,35,37,...,9,9,22,33,31,35,37,33,32,39
7,14,17,17,18,22,18,19,20,18,18,...,9,19,19,24,23,28,28,23,19,27
8,22,22,23,23,24,26,26,28,28,27,...,36,33,34,30,32,29,26,24,27,30
9,14,16,14,15,14,15,17,18,17,16,...,23,20,18,17,17,15,13,11,12,15
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,22,26,30,34,37,38,35,34,40

In [10]:
result.columns

Index(['19810101', '19810102', '19810103', '19810104', '19810105', '19810106',
       '19810107', '19810108', '19810109', '19810110',
       ...
       '20171222', '20171223', '20171224', '20171225', '20171226', '20171227',
       '20171228', '20171229', '20171230', '20171231'],
      dtype='object', length=13514)

In [21]:
print(avgMonth[0:5])

[30.967741935483872, 24.035714285714285, 19.193548387096776, 8.233333333333333, 5.032258064516129]

In [14]:
month1 = result.iloc[9,0:31]
month2 = result.iloc[9,31:59]
month3 = result.iloc[9,59:90]
month4 = result.iloc[9,90:120]

In [15]:
print(month1)

19810101    28
19810102    29
19810103    33
19810104    37
19810105    38
19810106    33
19810107    31
19810108    36
19810109    37
19810110    36
19810111    39
19810112    41
19810113    38
19810114    33
19810115    30
19810116    32
19810117    34
19810118    33
19810119    28
19810120    26
19810121    26
19810122    27
19810123    25
19810124    25
19810125    24
19810126    22
19810127    22
19810128    25
19810129    28
19810130    31
19810131    33
Name: CONUS, dtype: int64

In [16]:
print(month1.mean())

30.967741935483872

In [17]:
print(month2)

19810201    30
19810202    30
19810203    37
19810204    39
19810205    38
19810206    33
19810207    29
19810208    28
19810209    31
19810210    30
19810211    29
19810212    36
19810213    34
19810214    27
19810215    22
19810216    17
19810217    13
19810218    11
19810219    11
19810220    12
19810221    14
19810222    15
19810223    16
19810224    18
19810225    19
19810226    19
19810227    18
19810228    17
Name: CONUS, dtype: int64

In [18]:
print(month2.mean())

24.035714285714285

In [19]:
print(month3)

19810301    17
19810302    21
19810303    24
19810304    23
19810305    22
19810306    24
19810307    24
19810308    23
19810309    21
19810310    20
19810311    20
19810312    20
19810313    18
19810314    21
19810315    19
19810316    18
19810317    22
19810318    23
19810319    25
19810320    26
19810321    22
19810322    19
19810323    20
19810324    19
19810325    17
19810326    16
19810327    13
19810328    13
19810329     9
19810330     8
19810331     8
Name: CONUS, dtype: int64

In [20]:
print(month3.mean())

19.193548387096776

In [22]:
print(month4)

19810401     8
19810402     9
19810403     8
19810404     6
19810405     9
19810406    14
19810407    13
19810408     9
19810409     7
19810410     8
19810411     6
19810412     7
19810413     9
19810414     9
19810415    12
19810416    11
19810417     6
19810418     4
19810419     8
19810420    11
19810421    14
19810422    10
19810423     7
19810424     8
19810425    10
19810426     9
19810427     5
19810428     3
19810429     3
19810430     4
Name: CONUS, dtype: int64

In [23]:
print(month4.mean())

8.233333333333333

In [25]:
month5 = result.iloc[9,120:151]

In [26]:
print(month5)

19810501     6
19810502     8
19810503     8
19810504     6
19810505     4
19810506     6
19810507    10
19810508     9
19810509     7
19810510     6
19810511     7
19810512     7
19810513     7
19810514     6
19810515     5
19810516     6
19810517     6
19810518     7
19810519     8
19810520     8
19810521     6
19810522     3
19810523     2
19810524     1
19810525     1
19810526     1
19810527     1
19810528     1
19810529     0
19810530     1
19810531     2
Name: CONUS, dtype: int64

In [28]:
print(month5.mean())

5.032258064516129

In [29]:
result.loc[:,'19810401':'19810501']

,19810401,19810402,19810403,19810404,19810405,19810406,19810407,19810408,19810409,19810410,...,19810422,19810423,19810424,19810425,19810426,19810427,19810428,19810429,19810430,19810501
Region,,,,,,,,,,,,,,,,,,,,,
1,15,17,17,9,9,20,23,17,10,12,...,26,22,18,20,18,14,10,8,9,13
2,11,11,12,3,6,18,22,14,7,13,...,23,16,12,18,18,11,8,5,8,13
3,6,14,4,5,19,26,17,8,10,11,...,17,11,18,21,15,8,4,9,14,15
4,12,7,5,15,23,19,10,9,12,5,...,10,13,13,8,4,2,4,6,7,10
5,1,3,3,0,0,8,12,6,2,4,...,7,1,1,6,7,2,0,0,0,3
6,1,6,3,0,5,14,11,5,1,1,...,4,1,5,9,3,0,0,0,0,2
7,2,0,0,1,5,7,2,0,0,0,...,0,1,1,0,0,0,0,0,0,0
8,14,12,18,22,18,13,13,14,12,10,...,10,8,6,4,4,5,6,4,3,3
9,14,16,16,13,8,9,12,13,12,12,...,4,2,4,7,9,8,3,1,1,2
CONUS,8,9,8,6,9,14,13,9,7,8,...,10,7,8,10,9,5,3,3,4,6